<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/ode/">
        {% csrf_token %}
        <input type="text" id="r" name="r">y'' + <input type="text" id="p" name="p">y' + <input type="text" id="q" name="q">y = <input type="text" id = "g" name="g"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>